src/conf/xml-resources/web-service-references/CalculatePayoutWS/wsdl/localhost_8080/CalculatePayoutWSApplication/CalculatePayoutWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculatePayout.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculatePayout.me.org/">

<xs:element name="calculatePayout" type="tns:calculatePayout"/>

<xs:element name="calculatePayoutResponse" type="tns:calculatePayoutResponse"/>

<xs:complexType name="calculatePayout">
<xs:sequence>
<xs:element name="i" type="xs:double"/>
<xs:element name="j" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculatePayoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>